* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg,#1d1d1d85,#fecd1c85);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    position: relative;
}

.card {
    transition-duration: 0.5s;
    position: relative; 
    width: 500px;
    height: 450px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px #1d1d1d;
    border-radius: 1em;
    background: white;
}

.card h2 {
    margin-top: 13px;
    color: #1d1d1d;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 0.3em;
}

.card .content {
    text-align: center;
    width: 100%;
    left: 0%;
    padding: 20px 20px 20px 40px;
}

.card img {
    height: 100px;
}

.card .content label {
    font-size: 13px;
    color: #1d1d1d;
    font-weight: 400;
}

#content-list {
    float: left;
}

input[type=text]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=email]:focus {
    box-sizing: border-box;
    outline: 0.5px solid #1d1d1d;
    border: none;
    box-shadow: 5px 10px 8px #8888883f;
}

.information-area ul li{
    list-style: none;
}

.area-form {
    text-align: center;
    height: 30px;
    border: none;
    background-color: #1d1d1d27;
    border-radius: 2px;
    margin-bottom: 7px;
}

.area-form:hover {
    border: 1px;
}

#file-upload-btn {
    color: black;
    padding: 5px 0;
    text-align: center;
    box-shadow: 0px 0px 10px #8888883f;
    margin: 10px 0 20px 0;
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    width: 170px;
    background-color: #1d1d1d27;
    font-weight: 900;
    cursor: pointer;
    border-radius: 2px;
}

#file-upload-btn:hover {
    box-shadow: 5px 10px 8px #8888887c;
}

.content hr {
    margin: 15px 0 15px 0;
    color: #1d1d1d;
    border: solid 0.5px #1d1d1d;
}

.recaptcha-area {
    margin-top: 20px;
}

.recaptcha-area h5 {
    font-size: 13px;
    margin-bottom: 15px;
}

.recaptcha-area label {
    font-size: 18px;
    color: #1d1d1d;
    font-weight: 400;
}

.recaptcha-area input {
    border: none;
    text-align: center;
    height: 20px;
    width: 40px;
    margin-bottom: 7px;
    border-radius: 2px;
}

input[type="file"] {
    display: none;
}

.submit {
    transition-duration: 0.3s;
    position: relative;
    display: inline-block;
    color: #fecd1c;
    padding: 10px 20px;
    background: #1d1d1d;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    border: none;
}

.submit:hover {
    color: #1d1d1d;
    background: #fecd1c;
}

/* Yükleniyor */

.background{
    display: none;
    z-index: 999;
    background-color: #fecd1ce5;
    width: 100%;
    height: 100vh;
    position: absolute;
  }
  .background img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
  }
  .background .position-content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) !important;
    transform: translateY(-50%);
  }
  section h3 {
    display: inline;
    color: #1d1d1d;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
  }
  .loader {
     color: #1d1d1d;
     font-size: 90px;
     text-indent: -9999em;
     overflow: hidden;
     width: 1em;
     height: 1em;
     border-radius: 50%;
     margin: 72px auto;
     -webkit-transform: translateZ(0);
     -ms-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
     animation: load6 1.7s infinite ease, round 1.7s infinite ease;
   }
   @-webkit-keyframes load6 {
     0% {
       box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
     }
     5%,
     95% {
       box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
     }
     10%,
     59% {
       box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
     }
     20% {
       box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
     }
     38% {
       box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
     }
     100% {
       box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
     }
   }
   @keyframes load6 {
     0% {
       box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
     }
     5%,
     95% {
       box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
     }
     10%,
     59% {
       box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
     }
     20% {
       box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
     }
     38% {
       box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
     }
     100% {
       box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
     }
   }
   @-webkit-keyframes round {
     0% {
       -webkit-transform: rotate(0deg);
       transform: rotate(0deg);
     }
     100% {
       -webkit-transform: rotate(360deg);
       transform: rotate(360deg);
     }
   }
   @keyframes round {
     0% {
       -webkit-transform: rotate(0deg);
       transform: rotate(0deg);
     }
     100% {
       -webkit-transform: rotate(360deg);
       transform: rotate(360deg);
     }
   }
   